body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4; /* Light gray background */
    animation-name: changeBackgroundColor;
    animation-duration: 10s; /* Change duration as needed */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes changeBackgroundColor {
    0% {
        background-color: #f4f4f4;
    }
    25% {
        background-color: #3366cc;
    }
    50% {
        background-color: #4e7ab5;
    }
    75% {
        background-color: #3366cc;
    }
    100% {
        background-color: #f4f4f4;
    }
}

header {
    background-color: #0601ff;
    color: #fff;
    padding: 20px; /* Increased padding for better visual appeal */
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

nav {
    background-color: #002454;
    padding: 10px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Align items on the left and right */
}

nav .left-items,
nav .right-items {
    display: flex;
}

nav li {
    margin-right: 20px; /* Add some spacing between navigation items */
}

nav .right-items {
    margin-left: auto; /* Move the right items to the right by pushing them to the end of the container */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px; /* Increase font size for better readability */
}

section {
    width: 80%; /* Increase width for a more spacious feel */
    opacity: 0;
    transform: translateX(0);
    left: 50%;
    transition: opacity 0.8s ease-out;
    text-align: center;
    color: #333;
    padding: 40px; /* Increase padding for better spacing */
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Slightly increase box shadow */
    margin-bottom: 20px; /* Add more space between sections */
    overflow: hidden;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

section.active {
    opacity: 1;
}

.section-buttons {
    position: absolute;
    margin-top: 30px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

p {
    margin-bottom: 25px;
}

img {
    max-width: 50%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Remove extra spacing below the image */
    margin: 0 auto; /* Center the image within its container */
    padding-bottom: 25px;
}

.next-section-button,
.prev-section-button {
    background-color: #3366cc;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px; /* Increase padding for better spacing */
    background-color: #ddd;
}

